<div class="po-wrapper">
  <po-toolbar p-title="TOTVS - Protheus">
  </po-toolbar>

  <po-menu [p-menus]="menus"
    [p-filter] ="true"
  ></po-menu>

  <po-page-default p-title="Minhas Empresas">
    <po-table
    [p-selectable]="true"
    [p-single-select]="true"
    [p-sort]="true"
    [p-striped]="true"
    [p-columns]="columns"
    [p-items]="items"
    >
  </po-table>
  <div style="margin: 10px;">

    <po-button style="padding: 10px;" p-label="mensagemJavascript" (p-click)="click1()"> </po-button>
    <po-button style="padding: 10px;" p-label="receberProtheus" (p-click)="click2()"> </po-button>
    <po-button style="padding: 10px;" p-label="Sair" (p-click)="click3()"> </po-button>
  </div>
  </po-page-default>


</div>
